.header {
    background: lightskyblue;
    padding: 20px 10px;
    border-radius: 10%;
    font-size: 20px;
    color: black;
    text-align: left;
}

.greetings {
    font-size: larger;
    font-style: oblique;
    color:dodgerblue;
}